*::-webkit-scrollbar {
   width: 12px;               /* ширина scrollbar */
 }

*::-webkit-scrollbar-thumb {
   background-color:  #3a6154;    /* цвет плашки */
   border-radius: 20px;       /* закругления плашки */
   border: 3px solid  #7ec2a6;  /* padding вокруг плашки */
}